<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pbl3_database</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">binhminh1582003</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>

        <mapping class="vn.pbl.core.persistence.entity.UserEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.RoleEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.CommentEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.CommentReadEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.ListenGuidelineEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.ReadGuidelineEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.ExaminationEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.ExaminationQuestionEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.ExerciseEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.ExerciseQuestionEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.ResultEntity"/>
        <mapping class="vn.pbl.core.persistence.entity.NotificationEntity"/>
    </session-factory>
</hibernate-configuration>
